
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@500;700&display=swap');
body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.container {
  width: 60%;
  margin: 2rem auto; 
  padding: 2rem;
  
}
.container h1{
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-family: 'Exo';
    font-size: 6em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    margin-left: 35%;
  }

  .container h1::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: radial-gradient(white 3%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.05) 60%, transparent 80%), radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%, radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
}
.container h1 span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black, 0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
}
.container h1 span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  .container h2{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  }

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;


}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;


}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 9;

}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}


.containeer {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .image {
    display: block;
    width: 100%;
    /* height: 300px; */
    border-radius: 10px;

  }
  
  .overlay {
    border-radius: 10px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000009d;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .containeer:hover .overlay {
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    font-family: 'Oswald', sans-serif;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
@media screen and (max-width: 700px) {
    .container h1{
        font-size: 3em;
      }
      .container h2{
        font-size: 1em;
      }
    .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 1rem; 
      }
      
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
  
  }
  
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 19;
  
  
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 20;
    grid-row-end: 29;
  
  
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 30;
    grid-row-end: 39;
  
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 40;
    grid-row-end: 49;
  
  }
  
  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 50;
    grid-row-end: 59;
  
}
}