*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fafafa;
    color: #1d1f20;
    font-family: 'Raleway', sans-serif;
}
#langlab_title {
    color: white;
    background-image: url('../assests/images/featured/lang.jpg');
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin:0;
    padding:0
}
#langlab_title:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(4 8 129 / 60%);
    
  }
  #langlab_title h1{ color:#fff;
    position:relative;
    z-index:1;
    padding-top:100px;
    font-weight: 500;
    border-bottom: 5px solid white;
    display: inline-block;
}

/* list */

@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/*** FONTS ***/
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
 ol.gradient-list > li, ol.gradient-list > li::before {
	 box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
/*** STYLE ***/


 ol.gradient-list {
	 counter-reset: gradient-counter;
	 list-style: none;
	 margin: 1.75rem 3rem;
	 padding-left: 1rem;
}
 ol.gradient-list > li {
	 background: white;
	 border-radius: 0 0.5rem 0.5rem 0.5rem;
	 counter-increment: gradient-counter;
	 margin-top: 1rem;
	 min-height: 3rem;
	 padding: 1rem 1rem 1rem 3rem;
	 position: relative;
}
 ol.gradient-list > li::before, ol.gradient-list > li::after {
	 background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
	 border-radius: 1rem 1rem 0 1rem;
	 content: '';
	 height: 3rem;
	 left: -1rem;
	 overflow: hidden;
	 position: absolute;
	 top: -1rem;
	 width: 3rem;
}
 ol.gradient-list > li::before {
	 align-items: flex-end;
	 content: counter(gradient-counter);
	 color: #1d1f20;
	 display: flex;
	 font: 900 1.5em/1 'Montserrat';
	 justify-content: flex-end;
	 padding: 0.125em 0.25em;
	 z-index: 1;
}
 ol.gradient-list > li + li {
     margin-top: 2rem;
     
}

/* images */
.containeer {
    position: relative;
    margin: 20px;
    border-radius: 20px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0053ba94;
  }
  
  .containeer:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }