
  :root {
    --skyblue: #3dc3db;
    --navyblue: #160091;
    --listcolor:#73cbff;
    --black:#000;
    --white:#fff;
    --imageoverly:#0053ba94;
    --font_heading:Verdana, sans-serif;;
  }
  .body{
    font-family: var(--font_heading);
    line-height: 26px;

  }
  
.title .half p{
    margin-left: 4rem;
    margin-right: 2rem;
}
.title .half h1{
    font-size: 3rem;
    font-family: var(--font_heading);
    text-align: center;
    margin: 2rem;
    color: var(--navyblue);
}
.title .half P{
    font-size: 1.2rem;
    font-family: var(--font_heading);
}

.list{
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .list li{
    border-left: solid 5px var(--skyblue);
    background-color:#9592921f;
    padding: 1rem;
    margin: 10px ;
    font-size: 1rem;
  }

  .images img{
      padding: 10px;
  }
  
.card-header{
    color: var(--white);
    background-color: var(--skyblue);
}
@media screen and (max-width: 760px) {
    .title{
        height: 450px;
        background-size:100vw 450px ;

    }
    
    .title .half h1,p{
        margin-left: 2rem;
        margin-right: 20px;
    }
    .title .half h1{
        font-size: 4rem;
        margin-bottom: 5px;

    }
    .title .half h2{
        font-size: 3rem;
    }
    .title .half P{
        font-size: large;
    }
  }