
  :root {
    --skyblue: #1e90ff;
    --navyblue: #160091;
    --listcolor:#73cbff;
    --black:#000;
    --white:#fff;
    --imageoverly:#0053ba94;
    --font_heading:Verdana, sans-serif;;
  }
  body{
    font-family: var(--font_heading);

  }
  
.title .half h1{
    margin-left: 4rem;
    margin-right: 2rem;
}
.title .half h1{
  font-size: 3rem;
  font-family: var(--font_heading);
  text-align: center;
  margin: 2rem;
  color: var(--navyblue);
}
.title .half P{
    font-size: 1.5rem;
    font-family: var(--font_heading);
}
@media screen and (max-width: 760px) {
    .title{
        height: 450px;
        background-size:100vw 450px ;

    }
    
    .title .half h2,h1,p{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .title .half h1{
        font-size: 4rem;
        margin-bottom: 5px;
        margin-left: 1rem;
    }}
/* list */
.list{
  list-style-type: none;
  margin-left: 1rem;
  margin-right: 2rem;
}
.list li{
  border-left: solid 5px var(--skyblue);
  background-color:#9592921f;
  padding: 1rem;
  margin: 10px ;
  font-size: 20px;
}

/* images */
.containeer {
    position: relative;
    margin: 20px;
    border-radius: 20px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--imageoverly);
  }
  
  .containeer:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }