
  :root {
    --skyblue: #3dc3db;
    --navyblue: #160091;
    --listcolor:#3dc3db;
    --black:#000;
    --font_heading:Verdana, sans-serif;;
  }


html, body {
    max-width: 100%;
    overflow-x: hidden;
 }
html, body {
    margin: 0;
    padding: 0;
}

#miniproject-body h1{
    text-align: center;
    color: var(--navyblue);

}
#miniproject-body p{
    font-size: 1rem;
    font-family: var(--font_heading);
    margin-left: 4rem;
    margin-right: 2rem;
}
#miniproject-body >h2{
    color:var(--navyblue);
    background: none;
}
