
  :root {
    --skyblue: #1e90ff;
    --navyblue: #160091;
    --listcolor:#73cbff;
    --black:#000;
    --white:#fff;
    --imageoverly:#0053ba94;
    --font_heading:Verdana, sans-serif;;
  }
html, body {
    max-width: 100%;
    overflow-x: hidden;
    line-height: 26px;
 }
 .personal_website{
     color:white;
     text-decoration: none;
     background:   var(--skyblue);
     border-radius: 20px;
     padding: 5px 20px;
     border: 1px solid #fff;
     font-weight: 500;
    display: block;
    
 }
.personal_website:hover{
    text-decoration: none;
    color:  var(--skyblue);
    background: none;
    border: 1px solid   var(--skyblue);
}

.card-header{
    color: var(--white);
    background-color: var(--skyblue);
}

#myInput {
    width: 90%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    border: 1px solid #ddd; /* Add a grey border */
    outline: none;
    margin: 2% 5%;
  }